@import "values";


.main{
    background-color: tan;
    h4{
        display:none;
    }
    @include flex (space-between, center)

    h1{
        
        color: #dddddd;
        &:hover{
            
            text-decoration: line-through;
            @extend %center;
        }
    }
    h2{
        background-color: $brown1;
    }
    h3{
        color: $brown1;
    }
}
.minor{
    background-color: silver;
    h1{
        text-decoration: underline;
        @extend %center;
        margin-bottom: 25px * 4;
    }
    h2{
        text-decoration: line-through;
        @extend %center;
    }
}

