@import "values";


.main{
    background-color: tan;

    h1{
        color: #dddddd;
        &:hover{
            
            text-decoration: line-through;
            @extend %center;
        }
    }
    h2, h3{
        color: $brown1;
    }
}
.minor{
    background-color: silver;
    h1{
        text-decoration: line-through;
        margin-bottom: 
    }
    h1, h2{
        @extend %center;
    }
}

